@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
/* VARIABLES */
$white: #fefefe;
$dark-white: #fafafa;
$light-grey: #eeeeee;
$grey: #cccccc;
$dark-grey: #909090;
$black: #303030;

$primary: #09997f;
$primary-hover: #09997fdc;
$danger: #E56B45;

$big-radius: 16px;
$mini-radius: 4px;

$big-padding: 18px;
$medium-padding: 16px;
$small-padding: 12px;

* {
  font-family: 'Rubik', Arial, sans-serif;
  color: $black;
}

/* INSETS */
/* box-shadow:0px 0px 0px 1px #0e131809 inset; */
.edit:hover {
  background-color: greenyellow;
  cursor: pointer;

}

.edit {
  padding: 18px;
  // pointer-events:none;
}

form#create-task-form {
  button#create-task-submit {
    display: flex;
  }
  button#edit-task-save, button#edit-task-cancel, button#edit-task-delete {
    display: none;
  }
}
form#create-task-form.update {
  button#create-task-submit {
    display: none;
  }
  button#edit-task-save, button#edit-task-cancel, button#edit-task-delete {
    display: flex;
  }
}
/* //////////// STRUCTURE ///////////// */
/* BODY */
body {
  background-color: $white;
  // width: 100vw;
  // height: 100vh;
  // overflow: hidden;
  // overflow: scroll hidden;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 48px;
  padding: 12px 16px 12px 36px;
}

header .button-container {
  display: flex;
}

/* MAIN */
main {
  max-width: 100vw;
  max-height: calc(100vh - 72px);
  background-color: $dark-white;
  position: relative;
  box-shadow:0px 0px 0px 1px #0e131809 inset;
  /* filter: drop-shadow(0 0 4px $light-grey) */
  // overflow-x: hidden;
  // overflow-y:

}

#tasks, #content {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 72px);
  /* z-index: 3; */
  background-color: $dark-white;
  box-shadow:0px 0px 0px 1px #0e131809 inset;
  display: flex;
  /* filter: drop-shadow(0 0 2px $light-grey) */
  overflow: scroll hidden;
}

#tasks {
  max-width:100%;
  // background-color: purple;
  // padding: 36px;
  // overflow: scroll hidden;
  scroll-snap-type: x mandatory; 
}

// #content {
//   background-color: peru;
// }

.tab {
  position: absolute;
  top: -60px;

  font-weight:500;
  font-size: 18px;
  padding: 18px 24px 24px 24px;
  border-radius: 12px 12px 0 0;
  box-shadow:0px 0px 0px 1px #0e131809 inset;

  color: $dark-grey;
  background-color: $white;
}

.tab:hover {
  cursor: pointer;
}

#tasks-tab {
  left: 135px;
  content: 'Tasks';
}

#content-tab {
  left: 247px;
  content: 'Content';
}

.tab.active {
  color: $black;
  background-color: $dark-white;
}

/* covering the drop shadow with active tabs  */
#tasks-tab.active.tab::before, #content-tab.active.tab::before {
  position: absolute;
  left: 1.5px;
  bottom: 0;
  content: '';
  height: 8px;
  width: calc(100% - 3px);
  background-color: $dark-white;
  z-index: 3;
}
/* /////////////// CONTENT CARDS /////////////////// */
section#content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  div.group {

    // width: 100vw;
    // height: 100%;
    display: flex;
    flex-direction: column;
    margin: 36px;
   div.group-title {

      background-color: $dark-white;
      padding: 12px 0;
      border-radius: $big-radius;
      display: flex;
      justify-content: flex-start;
      h3, input {
          font-weight: 500;
          font-size: 16px;
          color: $dark-grey
      }

      input {
        width: auto;
        background-color: transparent;
        border: none;
        padding: 2px;
        text-decoration: underline dotted transparent;
      }

      input:focus {
        text-decoration: none;
      }

      input.column-name:hover {
        cursor: text;
        text-decoration: underline dotted $dark-grey;
      }
  }
    div.tiles {
      // display: flex;
      // flex-wrap: wrap;
      // align-items: space-between;
      // justify-content: space-between;
      // 
      // display: grid;
      // grid-template-columns: repeat(auto-fill,minmax(320px, 1fr));
      // row-gap: 36px;
      // column-gap: 36px;
      // 
      display: flex;
      flex-wrap: wrap;
      margin:-12px;
      article.tile {
        // margin: 
        // flex-grow: 1;
        min-width: 260px;
        max-width: 280px;
        flex: 1 1 280px;
        margin: 12px;
        border-radius: $big-radius;
        background-color: $white;
        padding: 16px;
        filter: drop-shadow(0 0 2px #30303018);
      }
    }
  }
}


/* /////////////// KANBAN BOARD //////////////////// */
/* COLUMNS */
div.column {
    position: relative;
    min-width: 280px;
    max-width: 332px;
    // height: calc(100% -  108px);
    background-color: $light-grey;

    margin: 36px 18px;
    // margin: 36px 0 36px 36px;
    border-radius: $big-radius;
    padding: 18px;
    padding-bottom: 2px;
    scroll-behavior: smooth;
    scroll-snap-align: center;

    div.title {
        // position: sticky;
        // top: 0;
        z-index: 2;
        background-color: $dark-white;
        padding: 12px 14px;
        // max-height: 2px;
        // margin: 18px;
        // border-radius: 12px;
        border-radius: $big-radius;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3, input {
            font-weight: 500;
            font-size: 16px;
            color: $dark-grey
        }

        input {
          width: auto;
          background-color: transparent;
          border: none;
          padding: 2px;
          text-decoration: underline dotted transparent;
          // text-underline-offset: 0.5em;
          // border-bottom: 2px dotted transparent;

        }

        input:focus {
          text-decoration: none;
        }

        input.column-name:hover {
          cursor: text;
          text-decoration: underline dotted $dark-grey;
          // background-color: blue;
          // border-bottom: 2px dotted $dark-grey;
          // text-decoration: underline;
          // padding: 12px;
          // text-decoration: underline;
          // text-decoration: underline dotted $dark-grey;
          // text-underline-offset: 0.5em;
          // text-underline-offset: 3px;
        }

        img {
          // position: absolute;
          position: relative;
          right:-24px;
          background-color: $white;
          visibility: hidden;
        }

        input.column-name:focus ~ img, input.column-name:active ~ img, input.column-name:hover ~ img {
          visibility: visible;
        }
    }

    div.cards {
      width: auto;
        // width: calc(100% - 12px);
        height: calc(100% - 60px);
        margin-top: 14px;
        // margin-right: 18px;
        // margin-right: 29px;
        // padding-right: 12px;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        article.card {
            z-index: 10;
            // width: calc(100% - 36px);
            // width: 90%;
            border-radius: $big-radius;
            background-color: $white;
            padding: 16px;
            filter: drop-shadow(0 0 2px #30303018);
            margin: 16px 0;
            scroll-behavior: smooth;
            scroll-snap-align: start;


            svg.edit {
              // visibility: hidden;
            }
        }
        article.card:last-child {
          margin-bottom: 24px;
        }
    
        article.card:first-of-type {
            margin: 2px 0 0 0;
        }
        // article.card:last-of-type {
        //     margin: 0;
        // }

        article.card:hover svg.edit {
          // visibility: visible;
        }
    }
    div.cards:hover {
      // cursor: grab;
      // overflow-y: overlay;
    }
}

div.column:hover {
  // cursor: grab;
}
div.column:first-of-type {
    margin-left: 36px;
}

div.column:last-of-type {
  margin-right: 36px;
  // border-right: solid 20px rgba(0, 0, 0, 0);
}

        /* ///////////// SCROLL BAR //////////// */
        div.cards::-webkit-scrollbar {
            width: 24px;    
            // padding-left:12px;           /* width of the entire scrollbar */
        }
    
        div.cards::-webkit-scrollbar-track {
            background: transparent;        /* color of the tracking area */
        }
    
        div.cards::-webkit-scrollbar-thumb {
            background-color: $grey;    /* color of the scroll thumb */
            border-radius: $big-radius;       /* roundness of the scroll thumb */
            // padding: 3px;
            // border-left: 0 solid transparent;
            border: 8px solid $light-grey;  /* creates padding around scroll thumb */
        }

        #tasks::-webkit-scrollbar {
          width: 8px;               /* width of the entire scrollbar */
      }
  
      #tasks::-webkit-scrollbar-track {
          background: $light-grey;        /* color of the tracking area */
      }
  
      #tasks::-webkit-scrollbar-thumb {
          background-color: $grey;    /* color of the scroll thumb */
          border-radius: $big-radius;       /* roundness of the scroll thumb */
          // padding: 3px;
          // border-left: 0 solid transparent;
          border: 6px solid $light-grey;  /* creates padding around scroll thumb */
      }

      div.cards::-webkit-scrollbar-thumb:hover, #tasks::-webkit-scrollbar-thumb:hover {
        background-color: #aaaaaa;
      }

/* ///////////// DRAGGABLE //////////////// */
// .draggable-source--is-dragging {
//     // visibility: hidden;
//     opacity: 0.2;
//     border: 2px dashed $dark-grey;
//     color: transparent;
//     * {
//         color: transparent;
//         background-color: transparent;
//         border-color: transparent;
//         fill: transparent;
//         stroke: transparent;
//     }
// }

// .card.draggable-mirror {
//     max-width: 296px;
// }

/* ///////////// COMPONENTS /////////////// */

/* BUTTON FORMATTING */
.button {
  padding: 12px 18px;
  border-radius: $mini-radius;
  font-weight: 500;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button.active {
  visibility: visible;
}

/* adding a bit of space between the buttons */
.button:not(:last-child) {
  margin-right: 16px;
}

.button:hover {
  cursor: pointer;
}

.button.primary {
  color: $white;
  background-color: $primary;
}

.button.secondary {
  background-color: $light-grey;
}

.button.primary:hover {
  background-color:$primary-hover
}

.button.secondary:hover {
  background-color:#dddddd
}

.button.primary.icon {
  display: none;
}

// FORM
form {
  z-index: 8;
}
#create-task-form, #add-column-form, #create-content-form {
  display: none;
  position: absolute;
  width: 80%;
  height: 80%;
  top: calc(10% - 18px);
  left: calc(10% - 18px);
  padding: 36px;
  flex-direction: column;
  background-color: $white;
  border-radius: $big-radius;
  input {
    // border: 2px solid $dark-grey;
    border: none;
    filter: drop-shadow(0 0 2px #30303018);
    border-radius: $mini-radius;
    padding: 12px;
  }
  input:focus {
    border: none;
    filter: drop-shadow(0 0 2px #30303048);
  }

  input[type=radio] {
    width: 0;
  }
  label.false-radio {
    span {
      background-color: $white;
      color: $dark-grey;
      padding: 16px;
    }
  }

  label.false-radio:hover{
    span {
      color: $black;
    }
    cursor: pointer;
  }
  input[type=radio]:checked ~ span {
    background-color: $black;
    color: $white;
  }
  label[for=taskPriorityRating] {
    display: flex;
    flex-direction: row;
  }
}
#create-task-form.active, #add-column-form.active, #create-content-form.active {
  display: flex;
}


/* false stuff */

label, button#create-task-submit {
  display: block;
  margin-top: 1em;
}


.chosen-card {
  // border: 5px solid blue;
  // background-color: $grey;
  background-color: $white;
}
.sortable-fallback { opacity: 1 !important }
.ghost-card {
  // background-color: rgb(106, 212, 106);
  opacity: 0.5;
  border: 2px dashed $dark-grey;
  * {
    background-color: transparent;
    color: transparent;
    fill: transparent;
    opacity: 0;
  }
}

.ghost-column {
  opacity: 0.5;
  border: 2px dashed $dark-grey;
  * {
    background-color: transparent;
    color: transparent;
    fill: transparent;
    opacity: 0;
  }
}
.background {
  display: none;
   background-color: #0e1318af;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 5;
 }

/* /////////////////////////// RESPONSIVE CSS ////////////////////////////// */

@media only screen and (max-width: 700px) {
  /* LOGO/HOME-LINK */
  #home-link {
    display: none
  }

  header {
    height: 48px;
  }

  /* STRUCTURE */
  // #task .tab {
  //   left: 16px;
  // }

  // #content .tab {
  //   left: 118px;
  // }
  #tasks-tab {
    left: 16px;
    content: 'Tasks';
  }
  
  #content-tab {
    left: 118px;
    content: 'Content';
  }
  
  /* /////////// COMPONENTS //////////// */
  /* BUTTON */
  .button-container {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 5;
  }

  .button.primary.icon {
    display: flex;
    width: 48px;
    height: 48px;
  }

  .button.primary.icon:hover {
    background-color:$primary-hover
  }

  .button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .button.create {
    background-color: $white;
    color: $black;
    visibility: hidden;
  }

  .button.create:hover {
    background-color: $light-grey;
  }

  .button.active {
    visibility: visible;
  }

  
}

