// KANBAN BOARD
#tasks {
    width: max-content;
    scroll-snap-type: x mandatory;
    overflow: scroll hidden;

    // SCROLLBAR
    &::-webkit-scrollbar {
        width: 18px; /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: $light-grey; /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: $grey; /* color of the scroll thumb */
        border-radius: $big-radius; /* roundness of the scroll thumb */
        border: 4px solid $light-grey; /* creates padding around scroll thumb */
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background-color: $dark-grey;
    }

    // COLUMNS
    div.column {
        position: relative;
        min-width: 280px;
        max-width: 332px;
        width: 300px;
        margin: 18px 18px 18px 0;
        padding: 18px;
        padding-bottom: 2px;

        scroll-behavior: smooth;
        scroll-snap-align: center;

        border-radius: $big-radius;
        background-color: $light-grey;
        box-shadow:0px 0px 0px 1px #0e131809 inset;

        &.column:first-of-type {
            margin-left: 36px;
        }
    
        &.column:last-of-type {
            margin-right: 36px;
        }

        // contains column settings + title
        div.title {
            z-index: 2;

            display: flex;
            justify-content: space-between;
            align-items: center;

            background-color: $dark-white;
            padding: 12px 14px;
            border-radius: $big-radius;
            position: relative;

            &:hover svg {
                visibility: visible;
            }

            h3,input {
                font-weight: 500;
                font-size: 16px;
                color: $dark-grey;
            }

            // total
            h3 {
                position: absolute;
                right: 12px;
            }

            // column title
            input {
                width: calc(100% - 80px);
                background-color: transparent;
                border: none;
                padding: 2px;
                text-decoration: underline dotted transparent;

                &.column-name {    
                    &:hover ~ svg.edit-column {
                        background-color: $light-grey;
                    }

                    &:focus ~ svg,
                    &:active ~ svg,
                    &:hover ~ svg {
                        visibility: visible;
                    }
                }
            }
            
            div.tooltip {
                font-size: 12px;
                justify-content: center;
                opacity: 0;
                width: 104px;
                background-color: $black;
                color: $white;
                text-align: center;
                border-radius: $mini-radius;
                padding: 6px 0;
                position: absolute;
                z-index: 1;
                transition-property: opacity;
                transition-duration: 0.2s;

                &#edit {
                    right: 14px;
                    top: -28px; 
                }

                &#delete {
                    right: -22px;
                    top: -28px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $black transparent transparent transparent;
                }
            }

            // column delete/edit buttons
            svg {
                position: relative;
                background-color: $dark-white;
                visibility: hidden;

                &.edit-column {
                    margin-right: 6px;
                    right: 42px;
                    &:hover ~ div.tooltip#edit {
                        opacity: 1
                    }
                }
                &.delete-column {
                    right: 12px;

                    &:hover ~ div.tooltip#delete {
                        opacity: 1
                    }
                }

                
                &.edit-column,
                &.delete-column {
                    position: absolute;
                    min-width: 14px;

                    background-color: $dark-white;
                    
                    padding: 8px;
                    border-radius: $mini-radius;
                }

                &:hover {
                    background-color: $light-grey;
                    cursor: pointer;
                }

                &.disabled path {
                    fill: $grey
                }

                &.disabled:hover {
                    cursor: initial;
                    background-color:$dark-white;
                    
                    &~ div.tooltip {
                        display: none;
                    }
                }
            }

        }
        
        // card containers
        div.cards {
            width: auto;
            height: calc(100% - 60px);
            margin-top: 14px;

            overflow-y: auto;
            scroll-snap-type: y mandatory;

            // SCROLLBAR
            &::-webkit-scrollbar {
                width: 24px; /* width of the entire scrollbar */
            }
        
            &::-webkit-scrollbar-track {
                background: transparent; /* color of the tracking area */
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: $grey; /* color of the scroll thumb */
                border-radius: $big-radius; /* roundness of the scroll thumb */
                border: 8px solid $light-grey; /* creates padding around scroll thumb */
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background-color: $dark-grey;
            }

            // actual task cards
            article.card {
                z-index: 10;
                border-radius: $big-radius;
                background-color: $white;
                padding: 16px;
                filter: drop-shadow(0 0 2px #30303018);
                margin: 16px 0;
                scroll-behavior: smooth;
                scroll-snap-align: start;

                *:hover {
                    cursor: initial;
                }
    
                &:hover {
                    cursor: grab;
                }

                &:first-of-type {
                    margin: 2px 0 0 0;
                }

                &:last-child {
                    margin-bottom: 72px;
                }

                // edit task button
                .edit {
                    padding: 6px;
                    position: absolute;
                    top: 12px;
                    right: 16px;
                    opacity: 0.4;
                    
                    
                    &:hover {
                        cursor: pointer;
                        background-color: $dark-white;
                        border-radius: $mini-radius;
                        opacity: 1;
                        
                    }
                    svg:hover, path:hover {
                        cursor: pointer;
                    }
                }

                h3 {
                    line-height: 20px;
                    margin-top: 12px;
                    width: 85%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 18px;
                    font-weight: 500;
                }

                span.subject {
                    font-size: 12px;
                    padding: 3px 17px;
                    margin: 12px 0;
                    border-radius: $big-radius;
                    text-transform: uppercase;
                    border: 1.2px solid $black;
                    & ~ h3 {
                        margin: 16px 0 8px 0;
                    }
                }

                div.time-details {
                    display: flex;
                }

                p {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 8px 0 16px 0;
                    font-size: 14px;
                    line-height: 16px;
                }
                hr {
                    border: none;
                    border-top: 2px solid $light-grey;
                }
                div.time-details {
                    padding-top: 6px;
                    display: flex;
                    align-items: center;
                    

                    h4 {
                        padding-left: 12px;
                        font-size: 14px;
                        font-weight: 400;
                        color: $dark-grey;
                        text-transform: uppercase;
                    }
                    span.time {
                        font-weight: 500;
                        font-size: 12px;
                        margin-left: auto;
                        color: $dark-grey;
                        padding: 4px 18px;
                        border-radius: $big-radius;
                        background-color: $light-grey;
                    }
                }

            }
        }
    }
}

#tasks.list {
    // background-color: blue;
    display: flex;
    flex-direction: column;
    scroll-snap-type: none;
    overflow: scroll scroll;


    article#empty-state-tasks {
        min-width: 260px;
        max-width: 280px;
    }

    div.column {
        background-color: transparent;
        height: auto;
        width: auto;
        max-width: 1000px;
        margin: 36px 36px 0 36px;
        padding: 0;
        box-shadow: none;
        &:nth-last-child(2) {
            margin-bottom: 96px;
        }
        div.title {
            padding: 0 0 12px 0;
            * {
                display: none;
            }
            input, h3.total {
                display: inline;
            }
        }

        div.cards {
            height: auto;
            width: auto;
            margin-top: 0;
            padding: 2px;
            
            article.card {
                background-color: $white;
                margin: 0 0 36px 0;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 150px auto 250px 28px;
                grid-template-areas: 'Subject Info TimeDetails Edit';
                padding: 6px;
                div {
                    display: flex;
                    flex-direction: column;
                }
                span.tag.subject ~ h3, h3 {
                    max-width: max-content;
                    margin: auto 0;
                }
                hr {
                    display: none;
                }
                p {
                    display: inline;
                    margin: auto;
                    margin-left: 0;
                    white-space: normal;

                    border-radius: $mini-radius;
                }
                span.tag.subject {
                    margin: auto 12px;
                    padding: 3px 17px;

                    max-width: max-content;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;

                    grid-area: Subject;
                    &:empty {
                        border: none;
                    }
                }

                div.time-details {
                    margin-left: auto;
                    padding: 0;
                    flex-direction: row;
                    justify-content: flex-end;
                    min-width: 250px;
                    grid-area: TimeDetails;
                    span.tag.time {
                        margin: auto 12px;
                    }
                }

                .edit {
                    margin: auto;
                    padding: 6px;
                    top: 0;
                    right: 0;
                    opacity: 0.4;
                    position: relative;
                    grid-area: Edit;
                }

                &:last-child, & {
                    margin-bottom: 12px;
                }
            }
        }

    }
}

// #tasks.list div.column.column:first-of-type, #tasks.list div.column.column:last-of-type {
//     margin-left: 0;
//     margin-right: 0;
// }

// SCROLLABLE CARD MODIFICATIONS
.chosen-card {
    background-color: $white;
}

.sortable-fallback {
    opacity: 1 !important;
}

.sortable-drag {
    cursor: grabbing;
}

.ghost-card, .ghost-column {
    opacity: 0.5;
    border: 2px dashed $dark-grey;

    * {
        background-color: transparent;
        color: transparent;
        fill: transparent;
        opacity: 0;
    }
}
