// RESPONSIVE CSS
@media only screen and (max-width: 700px) {
    // LOGO/HOME-LINK
    #home-link {
        display: none;
    }

    header {
        height: 48px;
    }

    // STRUCTURE
    body main .tab#tasks-tab {
        left: 16px;
        content: "Tasks";
    }

    body main .tab#content-tab {
        // left: 128px;
        left: 165px;
        content: "Content";
    }

    #tasks {
        div.column {
            width: 75vw;
            max-width: 332px;
        }
    }

    // tasks list
    #tasks.list div.column {
        div.title {
            padding: 0 0 6px 0;
        }
        div.cards article.card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 16px;
            filter: drop-shadow(0 0 2px #30303018);
            margin: 16px 0;
            min-width: initial;
            width: initial;
            span.tag.subject {
                margin: 0 0 12px 0;
                &:empty {
                    display: none;
                }
            }
            div.time-details span.tag.time {
                margin-right: 0;
            }
            span.tag.subject ~ h3, h3 {
                max-width: initial;
                margin: 0;
                white-space: normal;
                width: 100%;
            }
            hr {
                display: inline;
                width: 100%;
            }
            p {
                // text-overflow: ellipsis;
                white-space: normal;
                overflow: auto;
                display: inline;
                max-width: 100%;
                margin: 6px 0;
            }
            .edit {
                position: absolute;
                top: 12px;
                right: 16px;
            }
            div.time-details {
                width: 100%;
                h4 {
                    margin-right: auto;
                }
            }
        }
    }

    // FORM
    form {
        &#add-column-form,
        &#add-group-form {
            max-width: 80%;
        }
        section {
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }

        h1.validate-message {
            text-align: left;
        }
    }

    /* /////////// COMPONENTS //////////// */
    // BUTTON
    .button-container {
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 12px;
        right: 12px;
        z-index: 5;

        .button {
            &.primary {
                &.icon {
                    display: flex;
                    width: 48px;
                    height: 48px;
                    &:hover {
                        background-color: $primary-hover;
                    }
                }
            }

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 12px;
            }

            &.create {
                background-color: $white;
                color: $black;
                display: none;
                visibility: hidden;

                &:hover {
                    background-color: $light-grey;
                }
            }

            &.active {
                display: flex;
                visibility: visible;
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    // danger button from delete word to bin
    form {
        .button {
            &.danger {
                width: max-content;
                min-width: initial;
                svg {
                    display: inline;
                }
        
                text {
                    display: none;
                }
            }
        }
    }

    .tooltip {
        display: none !important;
    }

    form {
        section {
            div:first-child,
            div {
                input,
                textarea,
                pre {
                    width: calc(100% - 24px);
                }
            }
        }
        div.form-button-container {
            margin: 0;
            button:first-child {
                margin: 0;
            }
        }
    }
    // list view for tasks

    #tasks.list div.column,
    #tasks.list div.column:first-child,
    #tasks.list div.column:last-child {
        margin: 36px 36px 0 36px;
    }

    #tasks.list div.column:last-of-type {
        margin-bottom: 72px;
    }
    
    #tasks.list {
        article#empty-state-tasks {
            min-width: initial;
            max-width: initial;
        }
    }

    #content {
        div.group {
            div.group-title {
                justify-content: space-between;
                // flex-direction: column;
                // div {
                //     justify-content: space-between;
                //     svg.edit-group {
                //         margin-left: auto;
                //     }
                // }
                div {
                    width: 100%;
                    .edit-group {
                        margin-left: auto;
                    }
                }
                h3.open-link {
                    font-size: 0;
                    margin-left: 6px;
                    svg {
                        margin-left: 0
                    }
                }
            }

        }

    }

    // popups
    .pop-up[state="peek"] {
        width: 180px;

        &#time {
            #dropdown {
                display: none;
            }
        }
        &#music {
            nav #current-controls {
                .metadata {
                    width: 70%;
                }
                .controls {
                    #next,
                    #previous {
                        display: none;
                    }
                }
            }
        }
    }

    .pop-up[state="standby"] {
        h1#peek-time {
            display: none;
        }
    }

    .pop-up[state="active"]#time,
    .pop-up[state="active"]#music {
        position: fixed;
        z-index: 4;
        right: 0;
        width: calc(100vw - 32px);
        padding: auto;

        #stopwatch {
            h1 {
                margin-left: calc((100% - 225px) / 2);
                left: 0;
            }
            h1 ~ div {
                margin: auto;
            }
        }
    }
}
