#music {
    right: 30px;

    .plyr__progress input[type="range"] {
        margin-bottom: 12px;
        margin-top: 12px;
        &::-webkit-slider-thumb {
            display: none;
        }
        --plyr-color-main: #09997f;
    }

    #current-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .controls {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            button {
                background-color: transparent;
                padding: 8px;
                border-radius: $mini-radius;
                display: flex;
                &:hover {
                    background-color: $light-grey;
                }
                svg {
                    margin: auto;
                }
            }
        }
        .metadata {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 4px;
            width: 55%;
            position: relative;
            h1.title,
            h3.artist {
                line-height: 16px;
                font-size: 14px;
                font-weight: 400;
                white-space: nowrap;
                width: 100%;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
            h3.artist {
                color: $dark-grey;
            }
        }
    }
    h2 {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;
        #shuffle {
            background-color: transparent;
            svg {
                padding: 8px;
                border-radius: $mini-radius;
                &:hover {
                    background-color: $light-grey;
                }
            }
        }
    }
    .playlist {
        display: grid;
        height: 100px;
        overflow-y: auto;
        transition: height 0.5s ease-out;

        // SCROLLBAR
        &::-webkit-scrollbar {
            width: 20px; /* width of the entire scrollbar */
        }

        &::-webkit-scrollbar-track {
            background: transparent; /* color of the tracking area */
        }

        &::-webkit-scrollbar-thumb {
            background-color: $grey; /* color of the scroll thumb */
            border-radius: $big-radius; /* roundness of the scroll thumb */
            border: 6px solid $white; /* creates padding around scroll thumb */
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: $dark-grey;
        }

        li {
            display: flex;
            align-items: center;
            position: relative;
            padding: 6px;
            &:hover {
                background-color: $dark-white;
            }

            h3 {
                display: flex;
                flex-direction: column;
                gap: 4px;
                font-size: 12px;
                font-weight: 400;
                h4 {
                    color: $dark-grey;
                    font-size: 12px;
                    font-weight: 400;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &.active h3 {
                color: $primary;
            }

            img {
                width: 42px;
                height: 42px;
                margin-right: 12px;
                border-radius: $mini-radius;
            }
        }
    }

    .plyr--audio .plyr__controls {
        padding: 0;
    }

    svg#phantom-play-button {
        position: absolute;
        display: none;
        left: 6px;
        top: 6px;
    }
}
