.pop-up {
    position: absolute;
    bottom: 17px;
    width: 280px;
    // height: 300px;
    background-color: $white;
    border-radius: $big-radius $big-radius 0 0;
    padding: 16px;
    filter: drop-shadow(0 0 2px #30303018);
    z-index: 3;

    nav {
        display: flex;
        align-items: center;
        margin-bottom: 36px;
        h1 {
            display: none;
            position: absolute;
            left: 60px;
            padding: 12px;
            font-weight: 500;
            font-size: 18px;
            &#peek-status {
                display: none;
                left: auto;
                right: 24px;
                text-transform: capitalize;
                font-size: 16px;
                color: $dark-grey;
            }
            
        }
        img {
            margin-left: 12px;
        }
    }

    button.icon {
        padding: 8px;
        min-width: auto;
        margin-left: auto;
        background-color: $white;
        &:hover {
            background-color: $light-grey;
        }
    }
}
.pop-up[state=active] {
    &#music {
        nav {
            img {
                display: none;
            }
        }
    }
    &#time {
        nav {
        }
    }
}

.pop-up[state=standby] {
    height: 36px;
    width: 36px;
    display: flex;

    &#time {
        right: 110px;
        nav, nav img {
            display: flex;
            margin-left: 0;
            margin: auto;
        }
        #stowatch.active, #stopwatch, #pomodoro.active, #pomodoro {
            display: none;
        }
        *, nav *:not(img), div ~ h1#peek-time{
            display: none;   
        }
        nav h1 {
            display: none !important
        }
    }

    &#music {
        nav, nav img {
            display: flex;
            margin-left: 0;
            margin: auto;
        }
        *, nav *:not(img) {
            display: none
        }
        #current-controls {
            display: none;
        }
    }




}
.pop-up[state=peek] {
    height: 36px;
}
#time.pop-up[state=peek] {
    nav {
        .collapse {
            visibility: hidden;
        }
        #peek-status {
            display: flex;
        }
    }
    #stopwatch, #pomodoro {
        display: none;
    }
}
#music.pop-up[state=peek] {
    nav {

        display: flex;
        #current-controls {
            width: 100%;
            .metadata {
                width: 50%;
                h1.title {
                    width: 100%;
                    display: flex;
                    position: relative;
                    // max-width: 55%;
                    padding: 0;
                    left: 0;
                }
            }
            .controls {
                position: absolute;
                right: 18px;
            }
        }

        img{
            display: none;
        }
        .collapse {
            display: none;
        }
    }

    #current, h2, .playlist {
        display: none;
    }
}

#final-load {
    display: none;
    width: 248px;
    height: 20px;
    background-color: $grey;
    height: 8px;
    border-radius: 4px;
    align-self: center;
    overflow: clip;
    div {
        background-color: $primary;
    }
}

@keyframes load-spans {
    from {width: 0}
    to {width: inherit}
}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 500px) {
    .pop-up[state="peek"] {
        width: 180px;

        &#time {
            #dropdown {
                display: none;
            }
        }
        &#music {

            nav #current-controls {
                .metadata {
                    width: 70%;
                }
                .controls {
                    #next, #previous {
                        display: none;
                    }
                }
            }

        }
    }

    .pop-up[state="standby"] {
        h1#peek-time {
            display: none;
        }
    }

    .pop-up[state="active"]#time, .pop-up[state="active"]#music {
        position: fixed;
        z-index: 4;
        right: 0;
        width: calc(100vw - 32px);
        padding: auto;

        #stopwatch {
            h1 {
                margin: auto;
                left: 0;
            }
            h1 ~ div {
                margin: auto;
            }
        }
    }
}