.pop-up {
    position: absolute;
    bottom: 17px;
    width: 280px;
    height: 300px;
    background-color: $white;
    border-radius: $big-radius $big-radius 0 0;
    padding: 16px;
    filter: drop-shadow(0 0 2px #30303018);

    button.icon {
        padding: 12px;
    }

    &#time {
        right: 336px;

        #dropdown {
            background-color: darkorchid;
        }
        
        #time-selector.open {
            h3:hover {
                background-color: darkturquoise;
            }
        }

        #time-selector.close > h3:last-child {
            display: none
        }

        #time-selector.open > h3:last-child {
            display: flex;
        }

        #stopwatch, #pomodoro {
            display: none;
            &.active {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &#music {
        right: 12px;
    }
}

.pop-up[state=standby] {
    height: 72px;
    width: 36px;

    &#time {
        right: 92px;
    }

    * {
        display: none
    }

    nav, nav img {
        display: flex;
    }


}

.pop-up[state=peek] {
    height: 72px;

}

#pomodoro {
    // width: 100%;
    #timeline {
        width: 248px;
        height: 20px;
        display: flex;
        gap: 4px;
        justify-content: space-between;
        background-color: red;
        position: relative;
        div {
            background-color: salmon;
            // border: solid 2px black;
            height: 20px;
            // width: 20px;
            div {
                height: 20px;
                width: 0;
                background-color: blue;
                border: none;
                animation-fill-mode:forwards;
                // animation: load-spans 
                // animation-duration: 0;
                // transition: all 0 ease-out;
                // &.active {
                //     width: auto
                // }
            }
        }
    }

}

#final-load {
    display: none;
    width: 248px;
    height: 20px;
    background-color: black;
    div {
        background-color: purple
    }
}

@keyframes load-spans {
    from {width: 0}
    to {width: inherit}
}